body{
    box-sizing: content-box;
    position: relative;
    background-color: rgba(200, 150, 100, 0.5);

}

div#parent{
    position: absolute;
    display: inline-block;
    height: 2000px;
    width: 1500px;
    border: 2px black;
    border-style: double;
    border-radius: 15px 15px 10px 10px;
    overflow: hidden;
    text-align: center;
    color: rgb(150, 150, 100);
    
}
div#left{
    position: relative;
    display: block;
    border: 2px solid black;
    overflow: hidden;
}
div.div1{
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 100px;
}