body{
    box-sizing: content-box;
    position: relative;
    background-color: rgb(255, 255, 255);
    

}

div#parent{
    position: absolute;
    display: block;
    height: 1900px;
    width: 290px;
    border: 1px black;
    border-style: solid;
    border-radius: 15px 15px 10px 10px;
    overflow: hidden;
    text-align: center;
    color: rgb(255, 255, 255);
    
}
div.div1{
    position: relative;
    display: block;
    overflow: hidden;
    height: 1900px;
    width: 1000px;
    border: 1px green;
    border-style: solid;
    border-radius: 5px 5px 5px 5px;
    margin-left: 300px;
    margin-bottom: 10px;
    text-align: center;
}
div.anagrafica{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    height: 100px;
    width: auto;
    border: 1px black;
    border-style: solid;
    border-bottom: 4px ridge rgb(29, 0, 150);
    margin: 5px 5px 5px 5px;

}
