body{
    box-sizing: content-box;
    position: absolute;
    background-color: rgba(200, 150, 100, 0.5);

}

#parent{
    position: relative;
    display: inline-block;
    height: 200px;
    width: 150px;
    border: 2px black;
    border-style: double;
    border-radius: 15px 15px 10px 10px;
    overflow: hidden;
    text-align: center;
    color: rgb(150, 150, 100);
    
}